button {
  border: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.button {
  display: grid;
}

.type--rectangle {
  width: 100%;
  background-color: var(--accent-primary);
  color: var(--txt-secondary);
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}